<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Colscape</title>
    <link rel="stylesheet" href="../styles/css/viewProfile.css" />
    <link
      rel="stylesheet"
      media="screen"
      href="../styles/css/particlesStyle.css"
    />
  </head>
  <body>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-11 col-md-5">
          <div class="card userProfile">
            <div class="card-body">
              <!-- profile user image -->
              <div
                id="profileImageContainer"
                class="profileImageContainer col-12 col-md-12"
              ></div>
              <!-- profile user info -->
              <div class="userInfo col-12 col-md-12">
                <!-- user name -->
                <h3 id="userName" class="userName col-12 col-md-12"></h3>
                <!-- user disability -->
                <p
                  id="userDisability"
                  class="userDisability col-12 col-md-12"
                ></p>
                <div class="row">
                  <!-- user addres -->
                  <p id="userAddres" class="userAddres col-12 col-md-5"></p>
                  <!-- user contact phone -->
                  <p id="userPhone" class="userPhone col-12 col-md-5"></p>
                </div>
                <div class="warningButtonContainer col-md-12 col-12">
                  <a class="warningButton" href="#">
                    redirect
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap and google fonts cdn  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Main scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../src/js/dataProfile.js"></script>
    <!-- prticles.jsscripts -->
    <script src="../src/js/particles.js"></script>
    <script src="../src/js/particlesConfig.js"></script>
  </body>
</html>
